//todo color
$black-color: #000;
$white-color: #fff;
$main-color: #ee6477;
$secord-color: #3e5483;
//todo font-weight
$ex-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ex-bold: 800;
$black: 900;
